.DS_Store
config/database.yml
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/.htaccess
public/images/article/*
public/images/article
public/images/article_images/*
public/images/article_images
public/images/page_images
public/images/workshops
public/images/participant_forum
public/images/page_images/*
public/images/workshops/*
public/images/participant_forum/*

*.swp
