<% if @positions.length < 1 %>
      ISFiT har for tiden ingen opptak, neste opptak er i november.i<br /><br />

      Har du søkt på opptaket i august og ønsker å gjøre om prioriteringene på søknaden din, ta kontakt med recruiting[at]isfit.org. 
<% else %>
  <h1><%= t("position.new_positions") %></h1>
  <% active_group = nil %>
  <% active_section = nil %>
  <% for position in @positions %>
    <% if not position.group == active_group %>
      </ul>
    <% if position.group.section and not position.group.section == active_section %>
      </ul>
      <br>
      <h3><%=h position.group.section.name %></h3>
      <ul>
    <% end %>
    <h4><%=h position.group.name %></h4>
    <ul>
    <% end %>
    
    <li><%= link_to "#{position.title}", position_url(params[:tab], position) %></li>
    <% active_group = position.group %> 
    <% active_section = position.group.section %>
  <%end%>
<% end %>

