<% if Language.to_s == "no" %>
<h1>Seksjonene i ISFiT</h1>

<a name="6"><h4>Temaseksjonen</h4></a>:
<p>Temaseksjon har ansvar for den tematiske profilen til ISFiT, verdens største studentfestival med tematisk fokus. Festivaltema for ISFiT 2011 er global helse, og dette tema skal diskuteres fra forskjellige innfallsvinkler av 400-500 studenter fra over 100 forskjellige land. Temaseksjonen jobber primært med tre ting; festivalens workshoper, ISFiTs dialoggrupper og temakoordinering innad i ISFiT og ut til folket.
</p>
<p>
Workshopene er mindre arbeidsgrupper bestående av ca 20-30 studenter fra hele verden. I workshopene benytter man seg av mange ulike metoder for å tilegne seg kunnskap i felleskap, både om workshopens tema og om kulturelle forskjeller og likheter. Workshopene har også mulighet til å invitere kjente og kunnskapsrike innledere fra hele verden. Dialoggruppene inviterer studenter fra begge sidene i et konfliktområde, og fasiliterer et dialogseminar for dem. Med dialog som verktøy har seminaret som mål å skape økt forståelse og forsoning mellom studentene. Temakoordineringen har ansvar for å formidle temaet internt i organisasjonen og ut til folket. De står for tematisk rådgivning, både innad i temaseksjonen og i resten av organisasjonen. De jobber også med å formidle informasjon om tema til eksterne, blant annet ISFiTs samarbeidspartnere og Trondheims befolkning.</p>

<a name="2"><h4>Kulturseksjonen</h4></a>:
<p>Kulturseksjonen er den seksjonen i ISFiT som skaper selve festivalprogrammet. Programmet inneholder blant annet møter, konserter, seremonier, scenekunst og kunstutstillinger. Kulturseksjonen har også ansvar for det praktiske rundt hvert arrangement. Møtegjengen inviterer innledere og arrangerer møter. Konsertgjengen booker artister og band av ulik størrelse til festivalens mange scener. Seremonigjengen arrangerer åpnings-, avslutnings- og fredsprisseremonien. Scenekunstgjengen er ansvarlig for kunstneriske arrangement på ISFiTs mange scener. Kunstgjengen sørger for kunstutstillinger av ulik art under festivalen. Arrangementsgjengen er hovedansvarlig for alt det praktiske under de aller fleste av festivalens arrangement. Festivalprogrammet viser frem SFiT til Trondheims befolkning, studentene og deltagerne.</p>


<a name="3"><h4>Økonomiseksjonen</h4></a>:
<p>At ISFiT har en solid og sunn økonomi som er styrt på fornuftig måte er grunnleggende for at festivalen skal kunne gjennomføres. Dette er økonomiseksjonens ansvar. Det er et stort ansvar som vil gi mange utfordringer, store opplevelser og som du vil vokse mye på. 
Seksjonen består av tre gjenger. Regnskapsgjengen utarbeider organisasjonens regnskap, salgsgjengen står for festivalens billettsalg og finansieringsgjengen finansierer festivalen. Økonomistyret vil dermed bestå av seksjonssjef, nestleder, finansieringssjef, salgssjef og regnskapssjef.<p/>
<b>Finansieringsgjengen</b>:
<p>Vil du være med på å arbeide med finansieringen av verdens største tematiske studentfestival? Finansieringsgjengen har ansvar for å skaffe midlene som trengs for å gjøre ISFiT 2011 til tidenes festival. Sammen skal vi skaffe grunnmuren som festivalen skal bygges på.
Som en del av finansieringsgjengen vil du få mange utfordringer, mye ansvar og en unik erfaring. 
Læringskurven er bratt, men du vil aldri være alene. Det handler om å holde hodet kaldt, og om å ikke ta et nei for et nei.</p>

<a name="4"><h4>Informasjonsseksjonen</h4></a>:
<p>Informasjonsseksjonen får ISFiT ut til folket, og folk til ISFiT. Seksjonen består av en layout-gjeng med grafiske designere som lager ISFiTs visuelle profil, en redaksjon som skriver tekster i forbindelse med festivalen, en markedsføringsgjeng som skaper oppmerksomhet rundt ISFiT, en pressegjeng som gir oss medieomtale, og en rekrutteringsgjeng som sørger for at vi blir rundt 400 studenter som sammen skaper festival i februar 2011. Informasjonsseksjonen er satt sammen av gjenger som har mye til felles og vil samarbeide mye. På smarte og kreative måter kommuniserer vi budskapet vårt til omverdenen.</p>

<a name="5"><h4>Sekretariatet for Studentenes Fredspris</h4></a>:
<p>Sekretariatet for Studentenes Fredspris administrerer Studentenes Fredspris, som deles ut på vegne av alle studenter i Norge. Sekretariatet er en del av organisasjonssystemet til Den Internasjonale Studentfestivalen i Trondheim (ISFiT) og en seksjon i ISFiT 2011. Studentenes Fredspris ble første gang delt ut under ISFiT i 1999.
Sekretariatet er knutepunktet mellom de tidligere vinnerne og ISFiT, de nasjonale studentorganisasjonene NSU, StL og SAIH, aktuelle samarbeidspartnere, og media.
Sekretariatet har ansvar for at en ny vinner velges annet hvert år, og er oppdragsgiveren til Nominasjonsutvalget (NU), som sanker inn og prioriterer nominasjoner, og til Fredspriskomiteen, som foretar det endelige valget basert på NUs rapport.
Oppfølging av de tidligere vinnerne av prisen er en viktig del av Sekretariatets virke. I februar 2009 ble de tidligere vinnerne for første gang samlet for en konferanse i Trondheim under ISFiT, og i januar 2010 ble Studentenes Solidaritetskonferanse arrangert i Dili, Øst-Timor, hjemlandet til Studentenes Fredspris’ første vinner. De andre vinnerne er studentledere og –organisasjoner fra Burma, Colombia, Vest-Sahara og Zimbabwe.
Sekretariatet leder oppnevnes av ISFiT-presidenten.</p>

<a name="1"><h4>Administrasjonsseksjonen</h4></a>:
<p>Administrasjonsseksjonen er den største seksjonen i ISFiT, og har ansvar for gi festivalen en solid infrastruktur som åpner dører, skaper møteplasser og gir deltakere og funksjonærer muligheten til å oppleve festivalen til det fulle. Vi i admin skal legge til rette for at alt det praktiske både før og under festivalen går knirkefritt, og som seksjon vil vi i stor grad være ISFiTs ansikt utad og innad mot deltakere og funksjonærer. Seksjonen består av IT-gjengen, forpleiningsgjengen, trivselsgjengen, deltakergjengen, transportgjengen og sekretariatsgjengen. ISFiT 2011 er den ellevte festivalen i rekken og det er mange erfaringer som er gjort og som vi kan bygge videre på, men det er vi i ISFiT 2011 som bestemmer hvordan vår festival skal arrangeres. Nye ideer, prosjekter og løsninger er nødvendige og jobben er ikke bestemt på forhånd. Stillingsbeskrivelsene viser ansvarsområdene de forskjellige gjengene tradisjonelt har hatt, og legger grunnlaget for arbeidet i gjengen. Vi vil gjøre ISFiT 2011 til en skapende, inspirerende, omtenksom, utadvendt og herlig festival, og håper at du vil være med å gjøre den til tidenes beste.
</p>

<% else %>
<!--<h2>The ISFiT Sections</h2>

<a name="6"><b>The Theme Section</b></a>:
<p>The Theme Section arranges the workshops during ISFiT. The workshops are small groups where the ISFiT participants spend most of the festival days. Here, the 450 students from over a 100 countries will dedicate themselves to one of the sub-themes of ISFiT 2009s main theme; Peacebuilding. In the workshops, many different methods are used to obtain knowledge, both of the workshop-theme as well as cultural differences and similarities. The workshops also have the possibility to invite external experts to speak.</p>
<p>The Theme Section also has the main responsibility to spread knowledge about peace building in the ISFiT organization.</p>

<a name="2"><b>The Culture Section</b></a>:
<p>The Culture Section book and arranges the culture programme, that are made up of concerts, ceremonies, performing arts and arts, in addition to general event management. The Concert Group books artists of different size to the many festival stages, while the Ceremony Group arranges the opening-, closing-, and the Peace Prize Ceremonies. The Performing Arts Group books performing artists to the festival, for example theatre or performance. The Art Group book and arrange a wide variety of exhibitions during ISFiT. The Event Management Group is responsible for the practical work during most of the festival events, such as concerts, ceremonies and plenary sessions.</p>

<a name="5"><b>The Project Section</b></a>:
<p>The Project Section consists of the Plenary Sessions, the ISFiT Dialogue Groups, as well as the organizing and development of the Student Peace Prize. Inviting capable and distinguished speakers to share their knowledge, the Plenary Session Group arrange thematical sessions, with ties to the main theme – peace building. The Student Peace Prize is awarded, on behalf of students in Norway. Organizing the Peace Prize Laureate's stay in Norway, follow up work on previous laureates and further development of the Peace Prize are some examples of the work which is done by this group. The ISFiT Dialogue Groups invites students from both sides of three conflict areas to a seminar which starts ten days before the festival kick off in Trondheim. This year’s conflict areas are Jerusalem, Cyprus and Georgia/Abkhazia.</p>

<a name="3"><b>The Economy Section</b></a>:
<p>The Economy Section is made up by four groups, being Funding, Sales, Accounts and IT. The Funding Group make sure that ISFiT has festival partners to ensure the economy, and keep in touch with commercial interests. The Sales Group are responsible for tickets to the festival events, and festival merchandise. The Account Group are responsible for cash flow, and does accounting for the festival. The IT Group develops and maintains the ISFiT computer systems.</p>

<a name="4"><b>The PR Section</b></a>:
<p>The PR Section is responsible for marketing, layout, journalism, press and recruiting. The Marketing Group promotes ISFiT in creative and exciting ways, while the Press Group get ISFiT out in the news media. The Layout Group develops the graphical profile of ISFiT, designing amongst other things poster, flyers, papers and the web pages. The Editor Group writes the texts for ISFiT publications, both internally and externally. The Recruitment Group makes sure that ISFiT recruits functionaries to the festival, as well as the recruitment of host families.</p>

<a name="1"><b>The Administration Section</b></a>:
<p>The Administration Section are made up by five groups; the Participant Group, the Hospitality Group, the Happiness Group, the Transportation Group and the Secretariat. The Participant Group keeps in touch with embassies and Norwegian authorities to get the ISFiT participants into Norway. The Hospitality Group is responsible for food and beverages for both participants and functionaries during ISFiT, while the Happiness Group arrange social activities for the ISFiT functionaries. The Transportation Group is responsible for logistics and transportation during the festival, while the Secretariat is the information point for participants and functionaries.</p>
-->
<% end %>
