<h1>OWNED!</h1>
<h1><%#= @position.title_no %></h1>
<p><%#= @position.description_no.gsub("\n","<br />") %></p>
<h3><%#= link_to "Søk nå", apply_position_path(params[:tab]) %></h3>
<%#= link_to :Back, position_index_path %>
