<h1>Editing Event</h1>

<%= render 'form' %>

<%= link_to 'Show', :tab=>params[:tab], :controller=>"events", :action=>"show", :id=>@event %> |
<%= link_to 'Back', :tab=>params[:tab], :controller=>"events" %>
