<p>Dear <%= @name %>,</p>
<p>
Thank you for applying to ISFiT 2011! Your application will be processed 
after the application-period ends the 30th of September, and the selected 
students will receive an invitation shortly after the 1st of November 2010.
</p>
<p>
We wish you all the best and good luck on your application!
</p>
<p>
Please do not reply to this email.
</p>
<p>
If you have questions, please contact us at question@isfit.org. 
</p>

<p>
Kind regards,
<br><br>
ISFiT 2011
</p>

