Dear <%= @name %>,

Thank you for applying to ISFiT 2011! Your application will be processed 
after the application-period ends the 30th of September, and the selected 
students will receive an invitation shortly after the 1st of November 2010.

We wish you all the best and good luck on your application!

Please do not reply to this email.

If you have questions, please contact us at question@isfit.org. 



Kind regards,

ISFiT 2011

