<script>

//function displayVals() {
//  var singleValues = $("#stuff_item_id").val();
//  $("#preview").html("<b>Picture:</b> " + 
//  singleValues);
//}

$(document).ready(function() {
  $("#stuff_item_id").change(function() {
    temp = $(this).val();
    temp2 = $("#img_pre").attr("alt");
    $("#img_pre").attr("src", "hello.jpg");
    $.post("index.js", $(this).serialize(), null, "script");
    return false;
  })
})
</script>

<h1>All pictures:</h1>
<%@pictures.each do |picture|%>


  <%#=image_tag picture.original_picture.url%>
  <br />
<%end%>

<%=collection_select("stuff", "item_id", @pictures, :id, :image_text_no )%>
<img src="nothing.jpg" id="img_pre" style="float:right" alt="Preview!">

