<h1>New picture</h1>

<%form_for(@picture , :html =>
{:multipart => true}, :url => { :tab=>params[:tab], :action => "create" }) do |f|%>

<%= f.label :image_text_no %>
<%= f.text_field :image_text_no %>
<br />
   <%=f.file_field :original_picture %>
<br />
<%=f.submit "Go to cutting"%> 
<%end%>
