<h2>Frequently Asked Questions </h2>

<p><b>Can I have an economical guarantee-form from ISFiT?</b><br />
In your invitation-letter it is stated that food and lodging during the festival is covered by ISFiT. If you have been granted travel-support this is stated in a separate letter. Except from this we have no way of guaranteeing for you economically.</p>

<p><b>What costs will I have during the festival?</b><br />
As both food, accomodation and transportation inside Trondheim is covered by ISFiT, all you have to bring is your own pocket-money. Norway is an expensive country: a soda costs app USD 4,5; a beer USD 7; a pack of biscuits in the shop USD 3. You will also have to buy tickets to some of the cultural events such as concerts and theatre-productions. We will try to push the prizes such that all of you should have the possibility to join a great part of the cultural program.</p>

<p><b>Can I get in touch with the other participants from my country?</b><br />
We will not give out any personal information to anyone except from the Norwegian authorities regarding visa-issues. Soon there will be a forum on your personal profile where you can get in touch with both the other participants from your workshop and the other participants from your country or region.</p>

<p><b>How do I get around in Trondheim?</b><br />
We have gotten a deal with the local bus-company in Trondheim which will drive the ISFiT-participants for free during the ten days of the festival. The bracelet you get when you register upon arrival will count as you ticket. You will be given detailed information on bus-routes and other means of transportation upon arrival.</p>
