<h2>Desmond Tutu opening ISFiT 2009</h2>
<p>We are happy to announce that archbishop and Peace Prize winner Desmond Tutu is coming to ISFiT 2009. He is going to hold a meeting entitled "Ubuntu" Saturday 21, and will contribute to the Opening Ceremony the same night. See our website www.isfit.org for updated news on the different speakers. There is more to come!</p>
<h2>Contact person for visa application</h2>
<p>If you need to apply for a visa to come to Trondheim and Norway, you should state the following as your contact person:</p>
<p>
<b>Name:</b> Iina Caroline Kristensen<br />
<b>Telephone:</b> 0047 45664732<br />
<b>Address:</b> Klæbuveien 195<br />
<b>Postal code:</b> 7037<br />
<b>Place/country:</b> Trondheim/Norway<br />
<b>E-mail address:</b> iinacaro@isfit.org<br /><br />
<b>Please do not misuse this information and do not get in touch by person!</b>
</p>
<p>The same information should be used in the consent form, which will allow us to know how your visa-application is doing and where it is in the process. This is not mandatory for you, but will help us to keep an overview when planning the arrival of all invited participants. We would like to stress that we have no power over the final decision to your visa-application, as it is completely in the hands of the government. We are doing our best to support you, and wish you all the best on your application.</p>
<h2>Welcome!</h2>
<p>And once again congratulations for having been chosen from a total of 400 applicants to participate in ISFiT Dialogue Groups 2009! We, the Participant Team, will do our best to help you plan your trip to Trondheim and Norway. To do so however we need some important information from you, so we encourage you to fill out all the forms you find in here as soon as you have the required information. Any questions you might have can be addressed to us through this profile, and we will do our very best to help you. Good luck in planning your trip - we're looking forwards to seeing you in Trondheim in February!</p>
