<h2>Visa application form</h2>
<p>Your visa application should be delivered at the Norwegian embassy in your country, by November 15.  If you apply for visa after this date, the embassy might not be able to evaluate your application in time for the festival.</p>
<p>The visa application form should be available at the embassy, but you may download it <a href="https://www.isfit.org/downloads/visa_application.pdf">here</a> as well.</p>
