<!-- Localize this! -->
<%@chronicle = Chronicle.find_highest_weight%>

<h1>  <%= @chronicle.title %></h1>
<h4>  <%= @chronicle.author %></h4>
<p class="ingress">
  <%=raw format(@chronicle.ingress) %>
</p>
<p class="body">
  <%=raw format(@chronicle.body) %>
</p>
<!-- Tip of the hat til deg som oppdaget denne! -Dag -->
