<!-- Localize this! -->
<%@chronicle = Chronicle.find_highest_weight%>
<div class="boks">
<h1>  <%= @chronicle.title %></h1>
<h4>  <%= @chronicle.author %></h4>
<p class="ingress">
  <%= @chronicle.ingress %>
</p>
<p class="body">
  <%=raw @chronicle.body.gsub("\n","<br>") %>
</p>
</div>
<!-- Tip of the hat til deg som oppdaget denne! -Dag -->
